<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessPal</title>
    <link rel="stylesheet" href="/css/landing.css"> <!-- Link to landing-specific CSS -->
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">{{title}}</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>FitnessPal</h2>
            <p>Your ultimate fitness companion</p>
            <a href="/register" class="button">Get Started</a>
        </div>
    </section>

        <section class="free-section">
        <div class="container">
            <h2>Sign up to FitnessPal For Free and get loads of benefits</h2>
            <p>Start your fitness journey today!</p>
            <a href="/login" class="button">Login</a>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 FitnessPal. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>


