<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FitnessPal</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <section class="section" id="section1">
        <div class="content">
            <h2>Welcome to FitnessPal</h2>
            <p>Your ultimate fitness companion</p>
        </div>
        <video autoplay muted loop>
            <source src="../Images/video (2160p) (1).mp4" type="video/mp4">
            <source src="../Images/pexels_videos_2722910 (1080p)" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

    <section class="section" id="section2">
        <div class="content">
            <h2>IMPROVE FITNESS</h2>
        </div>
        <div class="background" style="background-image: url('../images/pexels-leon-ardho-1552242.jpg');"></div>
    </section>

    <section class="section" id="section3">
        <div class="content">
            <h2>TRACK FITNESS GOALS</h2>
        </div>
        <div class="background" style="background-image: url('../images/pexels-victor-freitas-841130.jpg');"></div>
    </section>

    <section class="section" id="section4">
        <div class="content">
            <h2>ACHIEVE YOUR GOALS</h2>
        </div>
        <div class="background" style="background-image: url('../images/pexels-william-choquette-1954524.jpg');"></div>
    </section>

    <section class="section" id="section5">
        <div class="content">
            <h2>MOTIVATIONAL QUOTES</h2>
        </div>
        <div class="background" style="background-image: url('../images/pexels-zakaria-boumliha-2827392.jpg');"></div>
    </section>

    <section class="section" id="section6">
        <div class="content">
            <h2>ALL THIS PLUS MORE FOR FREE. REGISTER OR LOGIN NOW</h2>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
        <div class="background" style="background-image: url('../images/pexels-mister-mister-3490348.jpg');"></div>
    </section>

</body>
</html>
