<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="refresh" content="1;url=/dashboard" /> <!-- Redirect after 1 second -->
</head>
<body>
    <h1>{{title}}</h1>
    <p>Login successful! You will be redirected to the dashboard page shortly.</p>
</body>
</html>