<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="refresh" content="1;url=/login" /> <!-- Redirect after 1 second -->
</head>
<body>
    <h1>{{title}}</h1>
    <p>Registration successful! You will be redirected to the login page shortly.</p>
</body>
</html>